project:
  type: website

website:
  title: "latinr-2025"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: slides.qmd
        text: Slides
        

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



